<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_06_Iliskili_Tablolar_ile_E_Okul_Projesi.Properties.Settings.BonusOkulConnectionString"
            connectionString="Data Source=DESKTOP-HKL3D7O\SQLEXPRESS;Initial Catalog=BonusOkul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>